@model IEnumerable<WebServiceTarea.Models.Usuarios>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>
<p>
    @*@Html.ActionLink(" Crear usuario", "Register", Account, new { @class = "glyphicon glyphicon-pencil" })*@
    @Html.ActionLink("Crear usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloqueo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloqueo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.ActionLink(" Actualizar", "Edit", new { id = item.IdUsuario }, new { @class = "glyphicon glyphicon-pencil" }) |
                @Html.ActionLink(" Detalle", "Details", new { id = item.IdUsuario }, new { @class = "glyphicon glyphicon-search" }) |
                @Html.ActionLink(" Eliminar", "Delete", new { id = item.IdUsuario }, new { @class = "glyphicon glyphicon-remove" })
            </td>
        </tr>
    }
</table>
